{% extends 'base.html' %}
{% block title %}Quiénes Somos{% endblock %}

{% block content %}
<h1>Quiénes Somos</h1>
<p>AmVirt se fundó en 2020 con la misión de ofrecer las mejores soluciones tecnológicas con Inteligencia Artificial.</p>

<h2>Misión</h2>
<p>Nuestra misión es mejorar la eficiencia empresarial a través de la tecnología y la Inteligencia Artificial.</p>

<h2>Visión</h2>
<p>Ser líderes en innovación tecnológica para 2030.</p>

<h2>Nuestro Equipo</h2>
<div>
    <img src="/static/images/user1.jpg" width="150" alt="Miembro del equipo 1">
    <p>Edwin Alvarez Yapuchura - Fundador</p><br><br><br>
</div>
{% endblock %}