{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Bienvenidos a AmVirt</h1>
<img src="/static/images/logo.png" width="100" alt="Logotipo de la empresa">
<p>Ofrecemos soluciones innovadoras para tu negocio mediante la Inteligencia Artificial. Nuestro producto te ayuda a crecer.</p>

<h2>Testimonios</h2>
<p>"Gracias a AmVirt, mi negocio ha mejorado un 300%." - Cliente Feliz</p>

<h2>Redes Sociales</h2>
<a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">LinkedIn</a><br><br><br>

{% endblock %}