{% extends 'base.html' %}
{% block title %}Noticias{% endblock %}

{% block content %}
<h1>Últimas Noticias</h1>
<div>
    <h3>
        Estos investigadores han logrado que la IA consuma un 95% menos de energía. Solo hay que multiplicar mejor
    </h3>    
            La multiplicación de matrices es una operación fundamental en IA. <br>
            Su consumo energético no obstante es notable, y son varios los proyectos que tratan de optimizar esas operaciones.<br>
            El algoritmo descubierto, eso sí, tiene un problema: necesita hardware especializado.<br>
        
    <img src="/static/images/new1.png" alt="Noticia 1">
    <p>Nuestra empresa ha expandido sus operaciones a 3 nuevos países.</p><br><br><br>
</div>
{% endblock %}